<div class="content bg pt-5">
  <div class="card mx-auto col-md-3">
    <div class="card-header">
      <h5 class="title">Add Diet</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="dietAddForm">
        <div class="form-group p-2">
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
            placeholder="Name"
          />
        </div>
        <div class="form-group p-2">
          <input
            type="number"
            id="dietMethodId"
            formControlName="dietMethodId"
            class="form-control"
            placeholder="Diet Method Id "
          />
        </div>
        <div class="form-group p-2">
          <input
            type="text"
            id="weekDay"
            formControlName="weekday"
            class="form-control"
            placeholder="WeekDay"
          />
        </div>
        <div class="form-group p-2">
          <input
            type="text"
            id="breakfast"
            formControlName="breakfast"
            class="form-control"
            placeholder="Breakfast"
          />
        </div>
        <div class="form-group p-2">
          <input
            type="text"
            id="firstSnack"
            formControlName="firstSnack"
            class="form-control"
            placeholder="First Snack"
          />
        </div>
        <div class="form-group p-2">
          <input
            type="text"
            id="launch"
            formControlName="launch"
            class="form-control"
            placeholder="Launch"
          />
        </div>
        <div class="form-group p-2">
          <input
            type="text"
            id="secondSnack"
            formControlName="secondSnack"
            class="form-control"
            placeholder="Second Snack"
          />
        </div>
        <div class="form-group p-2">
          <input
            type="text"
            id="dinner"
            formControlName="dinner"
            class="form-control"
            placeholder="Dinner"
          />
        </div>
        <div class="form-group p-2">
          <input
            type="text"
            id="lastSnack"
            formControlName="lastSnack"
            class="form-control"
            placeholder="Last Snack"
          />
        </div>
        <div class="form-group p-2">
          <input
            type="text"
            id="dailyTotal"
            formControlName="dailyTotal"
            class="form-control"
            placeholder="Daily Total"
          />
        </div>
        <div class="form-group p-2">
          <input
            type="text"
            id="recommended"
            formControlName="recommended"
            class="form-control"
            placeholder="Recommended"
          />
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button (click)="addDiet()" class="btn btn-fill btn-primary">Save</button>
    </div>
  </div>
</div>
